<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n"/>
        </Console>
        <File name="file" fileName="logs/portal.log" append="false">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %c{1.} - %msg%n"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="console"/>
            <AppenderRef ref="file"/>
        </Root>
        <logger name="org.apache.kafka" level="ERROR"/>
        <logger name="org.opengauss.core" level="ERROR" />
        <logger name="io.quarkus" level="ERROR" />
        <logger name="org.jboss" level="ERROR" />
    </Loggers>
</Configuration>